Django==5.0.6
fastapi==0.115.12
uvicorn[standard]==0.34.2
python-multipart==0.0.20
pydantic==2.9.2
email-validator==2.2.0
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.4.0
python-decouple==3.8
mysqlclient==2.2.4
django-jazzmin==3.0.3
google-api-python-client==2.149.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
